<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.TblEnvironmentalMonitoringMapper">
  <resultMap id="BaseResultMap" type="com.hrms.bean.TblEnvironmentalMonitoring">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="monitoring_time" jdbcType="TIMESTAMP" property="monitoringTime" />
    <result column="temperature" jdbcType="VARCHAR" property="temperature" />
    <result column="humidity" jdbcType="VARCHAR" property="humidity" />
    <result column="dust_concentration" jdbcType="VARCHAR" property="dustConcentration" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_name, monitoring_time, temperature, humidity, dust_concentration
  </sql>
  <select id="selectByExample" parameterType="com.hrms.bean.TblEnvironmentalMonitoringExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_environmental_monitoring
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_environmental_monitoring
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_environmental_monitoring
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hrms.bean.TblEnvironmentalMonitoringExample">
    delete from tbl_environmental_monitoring
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hrms.bean.TblEnvironmentalMonitoring">
    insert into tbl_environmental_monitoring (id, device_name, monitoring_time, 
      temperature, humidity, dust_concentration
      )
    values (#{id,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{monitoringTime,jdbcType=TIMESTAMP}, 
      #{temperature,jdbcType=VARCHAR}, #{humidity,jdbcType=VARCHAR}, #{dustConcentration,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hrms.bean.TblEnvironmentalMonitoring">
    insert into tbl_environmental_monitoring
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="monitoringTime != null">
        monitoring_time,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="humidity != null">
        humidity,
      </if>
      <if test="dustConcentration != null">
        dust_concentration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="monitoringTime != null">
        #{monitoringTime,jdbcType=TIMESTAMP},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="humidity != null">
        #{humidity,jdbcType=VARCHAR},
      </if>
      <if test="dustConcentration != null">
        #{dustConcentration,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hrms.bean.TblEnvironmentalMonitoringExample" resultType="java.lang.Long">
    select count(*) from tbl_environmental_monitoring
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_environmental_monitoring
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceName != null">
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.monitoringTime != null">
        monitoring_time = #{record.monitoringTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.temperature != null">
        temperature = #{record.temperature,jdbcType=VARCHAR},
      </if>
      <if test="record.humidity != null">
        humidity = #{record.humidity,jdbcType=VARCHAR},
      </if>
      <if test="record.dustConcentration != null">
        dust_concentration = #{record.dustConcentration,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_environmental_monitoring
    set id = #{record.id,jdbcType=INTEGER},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      monitoring_time = #{record.monitoringTime,jdbcType=TIMESTAMP},
      temperature = #{record.temperature,jdbcType=VARCHAR},
      humidity = #{record.humidity,jdbcType=VARCHAR},
      dust_concentration = #{record.dustConcentration,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hrms.bean.TblEnvironmentalMonitoring">
    update tbl_environmental_monitoring
    <set>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="monitoringTime != null">
        monitoring_time = #{monitoringTime,jdbcType=TIMESTAMP},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=VARCHAR},
      </if>
      <if test="humidity != null">
        humidity = #{humidity,jdbcType=VARCHAR},
      </if>
      <if test="dustConcentration != null">
        dust_concentration = #{dustConcentration,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hrms.bean.TblEnvironmentalMonitoring">
    update tbl_environmental_monitoring
    set device_name = #{deviceName,jdbcType=VARCHAR},
      monitoring_time = #{monitoringTime,jdbcType=TIMESTAMP},
      temperature = #{temperature,jdbcType=VARCHAR},
      humidity = #{humidity,jdbcType=VARCHAR},
      dust_concentration = #{dustConcentration,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>